## Hakathon

**16/10/2024

In [4]:
##importing csv files and help packages -> EXPLORATORY ANALYSIS
from IPython.display import IFrame # import iFrame
import numpy as np
import scipy as sp
import seaborn as sns
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import pysal as ps
from pysal.lib import weights
from pysal.explore import esda
from splot.esda import moran_scatterplot, lisa_cluster, plot_local_autocorrelation
from libpysal.io import open as psopen
from libpysal.weights import DistanceBand 
import geopandas as gpd
import contextily as ctx
import time
import warnings
warnings.filterwarnings('ignore')
import statsmodels
from sklearn.model_selection import train_test_split
from statsmodels.stats.proportion import proportions_ztest
%matplotlib inline

In [11]:
h= pd.read_excel('C:/Users/cayap/Downloads/HackathonData/Housing.xlsx')
s= pd.read_excel('C:/Users/cayap/Downloads/HackathonData/Socio-economic status.xlsx')
pop= pd.read_excel('C:/Users/cayap/Downloads/HackathonData/Population.xlsx')
par= pd.read_excel('C:/Users/cayap/Downloads/HackathonData/Participation.xlsx')

In [13]:
# Select specific columns by their names in Housing file
h_selected = h[['Area code', 'Living space: % 100 m2+', 'Average number of residents']]

# Display the DataFrame with only the selected columns
print(h_selected.head())

  Area code  Living space: % 100 m2+  Average number of residents
0        AA                     19.1                         1.62
1        AB                     11.1                         1.47
2        AC                     38.8                         1.47
3        AD                     14.9                         1.35
4        AE                     18.1                         1.52

In [21]:
# Select specific columns by their names in the Housing file
s_selected = s[['Area code','SES high (%)', 'Social cohesion (1-10)']]

# Display the DataFrame with only the selected columns
print(s_selected.head())

  Area code  SES high (%) Social cohesion (1-10)
0        AA            49                    6.2
1        AB            49                    6.2
2        AC            63                      6
3        AD            53                    5.4
4        AE            49                    5.6

In [22]:
s_selected.dtypes

Area code                 object
SES high (%)               int64
Social cohesion (1-10)    object
dtype: object

In [26]:
merge_df= pd.merge(h_selected, s_selected, on='Area code', how='inner')
merge_df

,Area code,Living space: % 100 m2+,Average number of residents,SES high (%),Social cohesion (1-10)
0,AA,19.1,1.62,49,6.2
1,AB,11.1,1.47,49,6.2
2,AC,38.8,1.47,63,6
3,AD,14.9,1.35,53,5.4
4,AE,18.1,1.52,49,5.6
...,...,...,...,...,...
101,TH,24.6,2.41,24,6.2
102,TJ,13.1,2.22,18,5.9
103,TK,11.5,1.83,36,6.2
104,TL,11.7,2.10,25,6
105,TM,8.4,2.18,28,6